@import url("https://fonts.googleapis.com/css?family=Nunito");
.m-0 {
  margin: 0rem; }

.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem; }

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem; }

.mt-0 {
  margin-top: 0rem; }

.mr-0 {
  margin-right: 0rem; }

.mb-0 {
  margin-bottom: 0rem; }

.ml-0 {
  margin-left: 0rem; }

@media all and (max-width: 481px) {
  .mt-0-mobile {
    margin-top: 0rem; } }

@media all and (max-width: 481px) {
  .mr-0-mobile {
    margin-right: 0rem; } }

@media all and (max-width: 481px) {
  .mb-0-mobile {
    margin-bottom: 0rem; } }

@media all and (max-width: 481px) {
  .ml-0-mobile {
    margin-left: 0rem; } }

.m-1 {
  margin: 0.75rem; }

.mx-1 {
  margin-left: 0.75rem;
  margin-right: 0.75rem; }

.my-1 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

.mt-1 {
  margin-top: 0.75rem; }

.mr-1 {
  margin-right: 0.75rem; }

.mb-1 {
  margin-bottom: 0.75rem; }

.ml-1 {
  margin-left: 0.75rem; }

@media all and (max-width: 481px) {
  .mt-1-mobile {
    margin-top: 0.75rem; } }

@media all and (max-width: 481px) {
  .mr-1-mobile {
    margin-right: 0.75rem; } }

@media all and (max-width: 481px) {
  .mb-1-mobile {
    margin-bottom: 0.75rem; } }

@media all and (max-width: 481px) {
  .ml-1-mobile {
    margin-left: 0.75rem; } }

.m-2 {
  margin: 1.5rem; }

.mx-2 {
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.my-2 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.mt-2 {
  margin-top: 1.5rem; }

.mr-2 {
  margin-right: 1.5rem; }

.mb-2 {
  margin-bottom: 1.5rem; }

.ml-2 {
  margin-left: 1.5rem; }

@media all and (max-width: 481px) {
  .mt-2-mobile {
    margin-top: 1.5rem; } }

@media all and (max-width: 481px) {
  .mr-2-mobile {
    margin-right: 1.5rem; } }

@media all and (max-width: 481px) {
  .mb-2-mobile {
    margin-bottom: 1.5rem; } }

@media all and (max-width: 481px) {
  .ml-2-mobile {
    margin-left: 1.5rem; } }

.m-3 {
  margin: 2.25rem; }

.mx-3 {
  margin-left: 2.25rem;
  margin-right: 2.25rem; }

.my-3 {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem; }

.mt-3 {
  margin-top: 2.25rem; }

.mr-3 {
  margin-right: 2.25rem; }

.mb-3 {
  margin-bottom: 2.25rem; }

.ml-3 {
  margin-left: 2.25rem; }

@media all and (max-width: 481px) {
  .mt-3-mobile {
    margin-top: 2.25rem; } }

@media all and (max-width: 481px) {
  .mr-3-mobile {
    margin-right: 2.25rem; } }

@media all and (max-width: 481px) {
  .mb-3-mobile {
    margin-bottom: 2.25rem; } }

@media all and (max-width: 481px) {
  .ml-3-mobile {
    margin-left: 2.25rem; } }

.m-4 {
  margin: 3rem; }

.mx-4 {
  margin-left: 3rem;
  margin-right: 3rem; }

.my-4 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.mt-4 {
  margin-top: 3rem; }

.mr-4 {
  margin-right: 3rem; }

.mb-4 {
  margin-bottom: 3rem; }

.ml-4 {
  margin-left: 3rem; }

@media all and (max-width: 481px) {
  .mt-4-mobile {
    margin-top: 3rem; } }

@media all and (max-width: 481px) {
  .mr-4-mobile {
    margin-right: 3rem; } }

@media all and (max-width: 481px) {
  .mb-4-mobile {
    margin-bottom: 3rem; } }

@media all and (max-width: 481px) {
  .ml-4-mobile {
    margin-left: 3rem; } }

.m-5 {
  margin: 3.75rem; }

.mx-5 {
  margin-left: 3.75rem;
  margin-right: 3.75rem; }

.my-5 {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem; }

.mt-5 {
  margin-top: 3.75rem; }

.mr-5 {
  margin-right: 3.75rem; }

.mb-5 {
  margin-bottom: 3.75rem; }

.ml-5 {
  margin-left: 3.75rem; }

@media all and (max-width: 481px) {
  .mt-5-mobile {
    margin-top: 3.75rem; } }

@media all and (max-width: 481px) {
  .mr-5-mobile {
    margin-right: 3.75rem; } }

@media all and (max-width: 481px) {
  .mb-5-mobile {
    margin-bottom: 3.75rem; } }

@media all and (max-width: 481px) {
  .ml-5-mobile {
    margin-left: 3.75rem; } }

.mt-half {
  margin-top: 0.375rem; }

.mr-half {
  margin-right: 0.375rem; }

.mb-half {
  margin-bottom: 0.375rem; }

.ml-half {
  margin-left: 0.375rem; }

.m-half {
  padding: 0.375rem; }

.m-base {
  margin: 0.0625rem; }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

.my-auto {
  margin-top: auto;
  margin-bottom: auto; }

.text-center {
  text-align: center; }

.img-responsive {
  width: 100%; }

.clickable {
  -webkit-box-shadow: 1px 0 0 0 #e8e8e8, 0 1px 0 0 #e8e8e8, 1px 1px 0 0 #e8e8e8, 1px 0 0 0 #e8e8e8 inset, 0 1px 0 0 #e8e8e8 inset;
  box-shadow: 1px 0 0 0 #e8e8e8, 0 1px 0 0 #e8e8e8, 1px 1px 0 0 #e8e8e8, 1px 0 0 0 #e8e8e8 inset, 0 1px 0 0 #e8e8e8 inset;
  -webkit-transition: all .3s;
  transition: all .3s; }

.clickable:hover {
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer; }

.page-wrapper {
  max-width: 1630px;
  margin: auto;
  padding: 0 1rem; }

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04); }

.top-nav {
  border-bottom: 0.0625rem solid #e8e8e8; }

#nav {
  text-align: right;
  border-bottom: none;
  width: 100%; }

.brand-image {
  max-height: 1.875rem;
  margin: 0.5rem 0; }

#components-form-normal-login .login-form {
  max-width: 300px; }

#components-form-normal-login .login-form-forgot {
  float: right; }

#components-form-normal-login .login-form-button {
  width: 100%; }

.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px; }

.upload-list-inline .ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn; }

.upload-list-inline .ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut; }

.box-border {
  border: 1px solid #e8e8e8; }

.stage-wrapper {
  position: relative; }

.stage-level-one {
  position: relative;
  z-index: 5; }

.stage-level-two {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }

/*# sourceMappingURL=app.css.map */
